/* HEADER Eduardo */

    
body{
    background-color: rgb(32, 32, 24);
    margin: 0%;
 
    
    
}
/* HEADER Eduardo, ajustes Thais */
header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.container{
    width: 100%;
}
.gradiente{
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
    background-clip: text;/*apaga o fundo que esta atras da letra */
    -webkit-background-clip: text; /*ajuda a apagar o fundo em alguns navegadores*/
    -webkit-text-fill-color: transparent; /*deixa o texto transparente*/
}


.text-bg-dark{
    background-color: black !important;

}
#btnr{
    background-color: #FFE600;
    border: gold;
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
}
#btnr:hover{
    
   
    background-image: linear-gradient(90deg, rgba(166,166,161,1) 14%, rgba(210,203,188,1) 41%, rgba(231,225,211,0.9332107843137255) 51%, rgba(166,166,161,1) 93%);
    
}
#btnr0{
    background-color: #FFE600;
    border: gold;
    background-image: linear-gradient(90deg, rgba(166,166,161,1) 14%, rgba(210,203,188,1) 41%, rgba(231,225,211,0.9332107843137255) 51%, rgba(166,166,161,1) 93%);
    color: black;
}
#btnr0:hover{
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
}
.marca a{
    text-decoration: none;
}

.ajusteHeader{
    width: auto;
    padding:0 15px 0 15px;
    background-image: linear-gradient(90deg, rgba(166,166,161,1) 14%, rgba(210,203,188,1) 41%, rgba(231,225,211,0.9332107843137255) 51%, rgba(166,166,161,1) 93%);
    background-clip: text;/*apaga o fundo que esta atras da letra */
    -webkit-background-clip: text; /*ajuda a apagar o fundo em alguns navegadores*/
    -webkit-text-fill-color: transparent; /*deixa o texto transparente*/
}

/* HEADER Eduardo, ajustes Thais */
/* Body */

.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #FFE600;
    border: gold;
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
    color: black;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: black;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
    color: #fff;
}

.btn-black:hover{
    background-image: linear-gradient(90deg, rgba(233,178,34,1) 13%, rgba(252,255,101,0.8911939775910365) 55%, rgba(233,178,34,1) 91%);
    color: black;
}


.btn-secondary{
    background-image: linear-gradient(90deg, rgba(166,166,161,1) 14%, rgba(210,203,188,1) 41%, rgba(231,225,211,0.9332107843137255) 51%, rgba(166,166,161,1) 93%);
    border: none;
}

.btn-secondary:hover{
    background-image: linear-gradient(90deg, rgba(166,166,161,1) 14%, rgba(210,203,188,1) 41%, rgba(231,225,211,0.9332107843137255) 51%, rgba(166,166,161,1) 93%);
    border: none;
    color: black;
}

.forgot{
    color: #6c757d;
    text-decoration: none;
}

.forgot:hover{
    color: #373a3d;
    text-decoration: none;
}

.prata{
    color: red;
}